.navbar{
    background: #4F46E5;
    color: white;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.bx-menu-alt-right{
    font-size: 50px;
    cursor: pointer;
    margin-right: -1.5vw;
}
.svg2{
    height: 55px;
    margin-left: -1vw;
    margin-right: 10px;
    color: white;
}
.navbar-content{
    display: flex;
    align-items: center;
}
.dropdown-main{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 120%;
    right: 0;
    padding: 10px;
    background: white;
    width: 10vw;
    transition: all .4s ease;
    border: 1px solid #4F46E5;
    box-shadow: 0 0 1px 2px rgba(79, 70, 229, .3);
    border-radius: 5px;
}
.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
.dropdown li{
    list-style: none;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
}
.dot{
    height: 16px;
    width: 16px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
}
.default-dot{
    background: #4F46E5;
}
.green-dot{
    background: #4ef037;
}
.pink-dot{
    background: #ff347f;
}
.blue-dot{
    background: #36d1c4;
}
.purple-dot{
    background: purple;
}
.list{
    color: #4F46E5;
}
.list1{
    color: #4ef037;
}
.list2{
    color: #36d1c4;
}
.list3{
    color: purple;
}
.list4{
    color: #ff347f;
}

@media screen and (max-width: 1200px) {
    .navbar{
        height: 6vw;
    }
    .svg2{
        height: 50px;
    }
    .heading{
        font-size: 26px;
    }
    .bx-menu-alt-right{
        font-size: 40px;
    }
}
@media screen and (max-width: 400px) {
    .heading{
        font-size: 20px;
    }
    .bx-menu-alt-right{
        font-size: 35px;
    }
    .svg2{
        height: 40px;
    }
}